{% extends "page.html" %}

{% block title %}{{page_title}}{% endblock %}


{% block stylesheet %}
{{super()}}
<link rel="stylesheet" href="{{ static_url("tree/css/override.css") }}" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400," rel="stylesheet" type="text/css">
{% endblock %}

{% block params %}

data-base-url="{{base_url}}"
data-notebook-path="{{notebook_path}}"

{% endblock %}


{% block site %}

<div id="ipython-main-app" class="container notebook-list-app">

    <div id="notebooks" class="tab-pane active">
        <div class="intro-header">
          <h2 class="header-title">Curated financial data.  Interactive coding.</h2>
          <span class="header-subtitle">Open a sample notebook below to get started.</span>
        </div>
        <div id="notebook_list_container">
          <div id="notebook_toolbar" class="row">
            <div id="project_name">
              {% if (breadcrumbs[1:]|length) > 0 %}
                <ul class="breadcrumb">
                  <li><a class="research-title" href="{{breadcrumbs[0][0]}}">Notebooks</a></li>
                  {% for crumb in breadcrumbs[1:] %}
                  <li><a href="{{crumb[0]}}">{{crumb[1]}}</a></li>
                  {% endfor %}
                </ul>
              {% else %}
                <span class="research-title" href="{{breadcrumbs[0][0]}}">Notebooks</span>
              {% endif %}
              <span id="notebook_buttons" class="pull-right">
                <button id="new_notebook" title="Create new notebook" class="btn btn-primary">New Notebook</button>
                <button id="refresh_notebook_list" title="Refresh notebook list" class="btn">
                  <i class="fa fa-refresh"></i>
                </button>
              </span>
            </div>
          </div>
          <div id="notebook_list">
            <div id="notebook_list_header" class="row list_header"></div>
          </div>
        </div>
    </div>
</div>

</div>

{% endblock %}

{% block script %}
    {{super()}}

<script src="{{ static_url("tree/js/main.js") }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
